{% extends 'header_file.html' %}
{% load static %}
<html>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <head>
        {% block extra_links %}
        <title>{{event_name}} Registration</title>
        <link href = "{% static 'form.css' %}" rel = "stylesheet">
        {% endblock %}
    </head>
    <body>
        {% block heading %}
        FILL THE FORM
        {% endblock %}
        {% block rest_container%}
        <div id = "rest_container">
            <form enctype="multipart/form-data" method = "POST">
                {% csrf_token %}
                {{ form.as_p }}
                <p>Event Chosen: {{ event_name }}</p>
                <div id ="submit_div"><input id = "submit" type="submit" value="PAY RS {{event_cost}}"></div>
            </form>
        </div>
        {% endblock %}
    </body>
</html>
