{% extends 'header_file.html' %}
{% load static %}
<html>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <head>
        {% block extra_links %}
        <title> Youth India Events</title>
        <link href = "{% static 'main.css' %}" rel="stylesheet" type="text/css">
        {% endblock %}
    </head>
    <body>
        {% block heading %}
        CHOOSE YOUR STATE
        {% endblock %}
        {% block rest_container %}
        <div id = "state_section">
            <div class = "states" id = "state_1">
                <a href = "West_Bengal/events/"><div style = "background-color: #FFAA00;" class = "state_card">
                    <img src = "{% static 'bengal_logo.png' %}">
                    <p style = "color: #FDFEFC; z-index: 100; margin-left: .5rem; text-align: left;">West <br> Bengal</p>
                </div>
                </a>
            </div>
            <div class = "states" id = "state_2">
                <a href = "Delhi/events/"><div style = "background-color: #F5526B" class = "state_card">
                    <img src = "{% static 'Delhi.png' %}">
                        <p style = "color: #FDFEFC; z-index: 100; margin-left: .5rem; text-align: left;">Delhi</p>
                </div></a>
            </div>
            <div class = "states" id = "state_3">
                <a href = "Maharashtra/events/"><div style = "background-color: #93C18C" class = "state_card">
                    <img src = "{% static 'maharashtra.png' %}">
                    <p style = "color: #FDFEFC; z-index: 100; margin-left: .5rem; text-align: left;">Maharashtra</p>
                </div></a>
            </div>
            <div class = "states" id = "state_4">
                <a href = "Odisha/events/"><div style = "background-color: #8c2e50" class = "state_card">
                    <img src = "{% static 'odisha.jpg' %}">
                    <p style = "color: #FDFEFC; z-index: 100; margin-left: .5rem; text-align: left;">Odisha</p>
                </div></a>
            </div>
            <div class = "states" id = "state_5">
                <a href = "Tamil_Nadu/events/"><div style = "background-color: #009F9D" class = "state_card">
                    <img style = "border-radius: 0;" src = "{% static 'tamil_nadu.jpg' %}">
                    <p style = "color: #FDFEFC; z-index: 100; margin-left: .5rem; text-align: left;">Tamil <br> Nadu</p>
                </div></a>

            </div>
            <div class = "states" id = "state_6">
                <a href = "other_states/"><div style = "background-color: #34da85" class = "state_card">
                    <img src = "{% static 'india.png' %}">
                    <p style = "color: #FDFEFC; z-index: 100; margin-left: .5rem; text-align: left;">Others</p>
                </div></a>
            </div>
        </div>
        <footer style = "clear = both; height: 20px; margin-top: 2rem; position: relative; text-align: right;">
        <p style = "font-family: myFourthFont; margin: 0; padding: 0; margin-right: 10px;font-size: .8rem;">Designed by Gitanshu Gupta </br>Developed by Deepak Karamchandani, Adrish Bose & Rajarshi07 </p>.
    </footer>
        {% endblock %}
    </body>
</html>
